## Author
Akil Nasser

## Author
Akil Nasser

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Common libraries used by Data Scientists
* Common Data Science tools

**Objectives:**
* List popular languages for Data Science
* Common libraries used by Data Scientists
* Common Data Science tools

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. C

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. C

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit-learn
3. matplotlib

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit-learn
3. matplotlib

Data Science Tools |
------------------ |
R Studio |
Jupyter Notebook |
Jupyter Lab |

Data Science Tools |
------------------ |
R Studio |
Jupyter Notebook |
Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This is a simple arithmetic expression to multiply then add integers
s = (3*4)+5
print(s)

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
t = 200/60
print(t)

3.3333333333333335